@use "sass:color";

$shadow: 0 0 20px #0004;
$fgColor: #aaa;
$bgColor: #3A3F44;
$errColor: #7A3F44;
$msgColor: #3A3FC4;

html,
body {
    overflow: hidden;
}

body {
    $headerHeight: 80px;
    $tablesWidth: max(#{ 100% / 5 }, 300px);
    $commandsHeight: 30px;
    $halfHeight: calc(50% - #{$headerHeight} / 2 - #{ $headerHeight} / 4 - #{$commandsHeight} / 2);
    height: 100vh;
    display: grid;
    grid-template-columns: $tablesWidth calc(100% - $tablesWidth);
    grid-template-rows: $headerHeight $halfHeight $commandsHeight $halfHeight calc(#{ $headerHeight} / 2);

    header#banner {
        grid-row: 1 / 2;
        grid-column: 1 / 2;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        box-shadow: $shadow;

        >* {
            margin: 0;
            padding: 0;
        }

        h1 {
            $spacing: .5rem;
            width: 100%;
            text-align: center;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            margin-bottom: $spacing;

            img {
                width: auto;
                height: calc(#{ $headerHeight } / 2.5);
            }

            &::after {
                content: '';
                position: absolute;
                top: calc(100% + #{ $spacing } / 2);
                display: block;
                left: 50%;
                transform: translateX(-50%);
                width: 90%;
                height: 1px;
                background-color: currentColor;

            }
        }
    }

    aside#tables {
        background-color: blue;
        grid-column: 1 / 2;
        grid-row: 2 / 5;
    }

    main#editor {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }

    section#commands {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        grid-column: 2 / 3;
        grid-row: 3 / 4;

        button.command {
            cursor: pointer;
            height: 100%;
            border-radius: 0;
            outline: none;
            border: none;
            background-color: $bgColor;
            color: $fgColor;
            font-weight: bold;

            &:hover {
                color: $bgColor;
                background-color: $fgColor;
            }

            &.disabled {
                pointer-events: none;
                background-color: darken($bgColor, 20%);
            }
        }
    }

    section#results {
        display: block;
        grid-column: 2 / 3;
        grid-row: 4 / 5;

        div.tabs {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-weight: bold;
            gap: 1px;
            margin: 0;
            padding: 0;
            overflow-y: auto;
            background-color: darken($bgColor, 5%);
            border-bottom: 1px solid currentColor;

            div.tab {
                background-color: $bgColor;
                color: $fgColor;
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &:hover {
                    $bgColor: darken($bgColor, 10%);
                    cursor: pointer;
                    background-color: $bgColor;

                    span.tag {
                        background-color: $bgColor;
                    }
                }

                &.error {
                    color: darken($fgColor, 15%);
                }

                &.is-active {
                    background-color: $fgColor;
                    color: $bgColor;

                    &.error {
                        color: $errColor;
                    }

                    &:hover {
                        $bgColor: darken($fgColor, 15%);
                        background-color: $bgColor;

                        span.tag {
                            &.btn-delete,
                            &.btn-pin {
                                background-color: $bgColor;
                            }
                        }
                    }

                    span.tag {
                        $bgColor: darken($fgColor, 20%);
                        &.btn-delete {
                            background-color: $fgColor;
                            color: $errColor;

                            &:hover {
                                background-color: $bgColor;
                            }
                        }

                        &.btn-pin {
                            background-color: $fgColor;
                            color: $msgColor;

                            &:hover {
                                background-color: $bgColor;
                            }
                        }
                    }
                }

                span:not(.tag) {
                    margin: 0;
                    padding: 0 10px;
                }

                span.tag {
                    font-weight: lighter;
                    margin: 0;
                    border-radius: 0;
                    color: darken($fgColor, 5%);

                    &:first-child {
                        margin-left: 10px;
                    }

                    &:hover {
                        background-color: darken($bgColor, 15%);
                    }
                }

                &.pinned {
                    span.tag.btn-pin {
                        font-weight: bold;
                    }
                }
            }
        }

        div.content {
            overflow: auto;

            table.error {

                &, th {
                    color: lighten($errColor, 30%);
                }
            }
        }
    }

    footer#copyright {
        grid-column: 1 / 3;
        grid-row: 5 / 6;

        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        box-shadow: $shadow;

        span {
            a {
                &:hover {
                    text-decoration: underline;
                }

                &.subtitle {
                    font-size: 1rem;

                    &:hover {
                        text-decoration: none;
                    }

                    &::before {
                        content: '<';
                    }

                    &::after {
                        content: '>';
                    }
                }
            }
        }
    }

    &.no-results {
        grid-template-rows: $headerHeight calc($halfHeight * 2) $commandsHeight 0px calc(#{ $headerHeight} / 2);

        section#results {
            display: none;
        }
    }
}